
body {
   background-color: lightblue;
}

p {
	line-height: 21px;
	 font-size: 14px;
}

h2 {
	margin-bottom: 20px;
	border-bottom: solid #b8d5e0 2px;
	padding-bottom: 15px;
}

.contentContainer {
	margin-bottom: 50px;
}


/*Header Nav*/
.header-nav {
	padding-top: 10px;
   	background-color: white;
	border-bottom: solid 71aac1 5px;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus, .navbar-brand {
	font-size: 35px;
	color: black;
}


/*Social Media*/
a:focus, a:hover {
	text-decoration: none;
	color: black;
}

.panel-title {
	font-size: 20px;
	font-weight: bold;
}

#socialMediaHeading {
	z-index: top;
	background-color: 71aac1;
}


/*Social Media Icon Spacing*/
.fa {
	margin: 0px 15px;
}

/*Portfolio*/
.portfolioImageContainer {
	border-color: lightseagreen;
	margin-bottom: 10px;
	padding: 5;
}


 .portfolioPic {
 	width: 325px;
 	margin: auto;
 	display: block;
 }







/*Contact Page*/
form {
	margin: auto;
}


/*Main Content Container*/
.contentContainer {
   	background-color: white;
	padding: 5px  20px 20px 20px;
}



/*Footer Nav*/
.footer-nav {
	background-color: 71aac1;
	padding-top: 20px;
	color: black; 
	font-weight: bold;
}